/* ruble */
@font-face {
  font-family:'ALSRubl-Regular';
  src: url('../fonts/ruble/ALSRubl_gdi.eot');
  src: url('../fonts/ruble/ALSRubl_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ruble/ALSRubl_gdi.woff') format('woff'),
    url('../fonts/ruble/ALSRubl_gdi.ttf') format('truetype'),
    url('../fonts/ruble/ALSRubl_gdi.svg#ALSRubl-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}