//----------------------------------------------------//
// Variables                                          //
//----------------------------------------------------//

// fonts
$font: 'Verdana';
$font_title: 'Georgia';
$font_btn: 'Times New Roman';
$font_ruble: 'ALSRubl-Regular';

// inherit fonts
$inherit_fonts: Arial, Tahoma, sans-serif; 

// COLORS
// main
$main_color: #48443e;
$gray_color: #7F7E7C;
$gray_light3_color: #B0B0AF;
$gray_light2_color: #E1E1E1;
$gray_light_color: #C8C7C7;
$gray_dark_color: #595651;
$red_color: #a04944;
$brown_color: #793733;
$dark_brown_color: #b74742;
$green_color: #4d7d67;
$purple_color: #5e4356;

// title
$black_color: #000;

// links
$link_color: #201600;

/* FONTS SIZE */
$lg_fs: 36px;
$md_fs: 16px;
$sm_fs: 14px;

/* COLORS */

$orange-color: #df661d;
$dark_blue_color: #6a57a3;
$body_bg: #fff;

/* LINK COLOR */


/* BORDERS COLOR */
$grey_border: #cbcaca;

$dashed_border: #c8c7c7;